@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Rouge Script';
    src: url("/fonts/RougeScript-Regular.ttf") format("truetype");
}

@theme {
	--font-montserrat: Montserrat, sans-serif;
    --font-rouge: Rouge Script, sans-serif;
}

.copied {
    @apply bg-purple-500 text-white;
}